.filter {
  &-body {
    width: 187px;
    border: 1px solid #ff7300;
    background-color: #2e2e35;
    border-radius: 4px;
    padding: .5rem;
    color: white;
  }

  &:focus {
    border: none;
  }
}
