<div class="item">
  <div class="item-body">
    <div class="item-body-info">
      <h2 class="item-name" [innerText]="title"></h2>
      <h5 class="item-category" [innerText]="category"></h5>
    </div>
    <div class="item-body-status">
      <h3
        [class.item-status]="!readStatus"
        [class.item-marked]="readStatus === statuses.wantToRead"
        [class.item-in-progress]="readStatus === statuses.reading"
        [class.item-completed]="readStatus === statuses.completed"
        [innerText]="status"
      ></h3>
    </div>
  </div>
</div>
