<div class="books" *ngIf="booksService.books$ | async as books">
  <div class="book" *ngFor="let book of books">
    <app-book-item
      [title]="book.title"
      [category]="book.category"
      [readStatus]="book.readStatus"
      (bookSelected)="selectedBookId = book.id"
      *ngIf="selectedBookId !== book.id"
    ></app-book-item>

    <app-book-detail
      [title]="book.title"
      [author]="book.author"
      [pages]="book.pages"
      [category]="book.category"
      [readStatus]="book.readStatus"
      (closed)="selectedBookId = undefined"
      *ngIf="selectedBookId === book.id"
    ></app-book-detail>
  </div>
</div>
