.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.button-position {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
